camel:
  server-port: ${PORT:5000}
  host: "https://webhook.site/0d1bcf85-f42a-462e-809f-b1d4dca2a0cc" # Host URL for callback
  springboot:
    main-run-controller: true
  dataformat:
    json-jackson:
      auto-discover-object-mapper: true

bpmn:
  flows:
    some-flow: "SomeFlow-DFSPID"

zeebe:
  client:
    max-execution-threads: 100
    number-of-workers: 8
    evenly-allocated-max-jobs: "#{${zeebe.client.max-execution-threads} / ${zeebe.client.number-of-workers}}"
    ttl: 30000
  broker:
    contactpoint: "127.0.0.1:26500"

gsma:
  auth:
    host: https://sandbox.mobilemoneyapi.io/v1/oauth/accesstoken
    client-key: bBvcGtIhyfAPNTMwuvACLyVrzcaTsyXR
    client-secret: PAL6ekftxxg02O58
  api:
    host: https://sandbox.mobilemoneyapi.io/oauth/simulator/v1.1/mm
    account: /accounts

dfspids: "DFSPID"
